#cringe{
    height: 200px;
    width: 200px;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

#error-page {
    height: 100%;
    text-align: center;
    font-size: 3em;
    transition: none;
}