#cringe{
    height: 1000px;
    width: 1000px;
    animation-duration: .15s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
     0%   { opacity:1; background-color: #ff0000;}
     40%   {opacity:0; background-color: #00ff00}
     100% { opacity:1; background-color: #0000ff}
 }

@keyframes clignoter2 {
    33%   { background-color: #ff0000;}
    66%   { background-color: #00ff00;}
    100% { background-color: #0000ff; }
}

#error-page {
    background-color: #ff0000;
    color: #00ff00;
    text-align: center;
    font-size: 3em;
    animation-duration: .1s;
    animation-name: clignoter2;
    animation-iteration-count: infinite;
    transition: none;
}

img {
    box-shadow: 10px 5px 5px #0000ff;
}