@font-face {
    font-family: Minecraftia;
    src: url("../font/minecraft-gnu-font.woff");
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: Minecraftia, serif;
}

#root {
    height: 100%;
    background-color: #e1e1e1;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px;
    padding: 0;
}

#carte{
    height: 1000px;
}